.banner {
  width: 100%;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.8) 0, rgba(22, 22, 22, 0.8)), url("./img/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 62rem;
}

.ima {
  margin-right: 50px;
  margin-left: 50px;
}

ul li a {
  font-size: 15px;
}

ul li {
  padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  text-transform: uppercase;
}

.rog {
  background-color: #A52A2A;
}

ul li:hover {
  background-color: #A52A2A;
}

.mil {
  margin-top: 300px;
}

.fnt {
  font-size: 50px;
  color: white;
  font-family: "Courgette", cursive;
}

.gra {
  font-size: 90px;
}

.ro {
  font-size: 70px;
  color: #A52A2A;
}

.gr {
  font-size: 70px;
}

.btn {
  border-radius: 50 !important;
}

form {
  text-align: center;
  margin-top: 280px;
}

a.btn-default {
  border-radius: 30px;
  background-color: #fff;
  color: #000 !important;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.btn-defaultt {
  border-radius: 30px;
  background-color: #A52A2A;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu {
  background-image: url("./img/main_bg.jpg");
}

section {
  padding: 40px 0px;
}

.carre {
  border: 1px solid #e4e4e4;
  background-color: #fff;
  background: url("./img/box-left-top.png") left top no-repeat, url("./img/box-right-top.png") right top no-repeat, url("./img/box-bottom-left.png") left bottom no-repeat, url("./img/box-bottom_right.png") right bottom no-repeat white;
}

.tab {
  margin-bottom: 200px;
  margin-top: 50px;
}

hr {
  width: 75%;
}

.tx {
  font-family: "Courgette", cursive;
  font-size: 40px;
  color: #A52A2A;
}

#txn {
  font-family: "Courgette", cursive;
  font-size: 25px;
  color: #000000;
}

.tab .col-lg-2 .nav .nav-link {
  color: #000000 !important;
  background-color: white !important;
  font-size: 25px;
  font-family: "Courgette", cursive;
  font-weight: 300;
}

.tab .col-lg-2 .nav .nav-link i {
  color: #e0e0d1;
}

.media img {
  width: 8rem;
  height: 8rem;
}

.bob {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
}

.ji {
  background-color: #ece7e7;
  border-color: transparent;
  color: #CA234F;
  padding-right: 15px;
  padding-left: 15px;
  float: right;
  font-size: 20px;
}

.media-coffee {
  font-size: 15px;
}

.membre {
  width: 100%;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.9) 0, rgba(22, 22, 22, 0.9)), url("./img/team_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.membre .col-12 h2 {
  color: #A52A2A;
  font-family: "Courgette", cursive;
}

.col-12 {
  text-align: center;
}

.membre .row .col-3 h2 {
  color: white;
  font-size: 12px;
  text-align: center;
}

.carr {
  border: 1px solid #e4e4e4;
  background-color: #fff;
  background: url("./img/box-left-top-grey.png") left top no-repeat, url("./img/box-right-top-grey.png") right top no-repeat, url("./img/box-bottom-left-grey.png") left bottom no-repeat, url("./img/box-bottom_right-grey.png") right bottom no-repeat white;
}

.book {
  background-image: url("./img/main_bg.jpg");
}

.signin {
  background-image: url("./img/book_table_bg.jpg");
  background-size: 100%;
  width: 100%;
  border-radius: 20px;
  max-width: 70%;
  margin: auto;
}

.signin2 {
  font-size: 30px;
}

.but-booknow {
  padding: 15px;
  background-color: #CA234F;
  color: white;
  border-radius: 50px;
  border-color: transparent;
  margin: auto;
}

.but-knowmore {
  padding: 15px;
  background-color: #CA234F;
  color: white;
  border-radius: 50px;
  border-color: transparent;
}

.img-blog {
  border-radius: 20px;
  border-color: lightgrey;
  border-style: solid;
  border-width: 5px;
  max-width: 80%;
}

.date-12april {
  background-color: #CA234F;
  max-width: 70%;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  bottom: 0.7cm;
  left: 2.1cm;
}

.date-12april2 {
  background-color: #CA234F;
  max-width: 70%;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  bottom: 0.7cm;
  left: 2.2cm;
}

.txt-1 {
  max-width: 70%;
  margin: auto;
}

.img-box-bot-right {
  float: right;
  margin-right: -15px;
}

.img-box-bot-left {
  float: left;
  margin-left: -15px;
}

.kdg {
  background-image: url("./img/testimonials_background.jpg");
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.yh {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  width: 90%;
}

.hgf {
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.ls {
  color: #CA234F;
}

.section5 {
  background-image: url("./img/main_bg.jpg");
  margin-top: -20px;
  margin-bottom: -50px;
  padding-bottom: 35px;
}

.sdc {
  background-color: #CA234F;
  max-width: 30%;
  border-radius: 10px;
  margin: auto;
}

.icone {
  font-size: 30px;
  padding: 10px;
}

.brbo {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 2px;
}

.footer {
  background-image: url("./img/footer_background.jpg");
}

.repm {
  background-image: url("./img/footer_bottom_decoration_img.png");
  background-repeat: repeat;
  width: 100%;
  height: 10px;
}

.pml {
  font-size: 30px;
  letter-spacing: 20px;
}

.butfin {
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: #CA234F;
  color: white;
  margin-top: 10px;
  padding: 8px;
  margin-right: 8px;
}

.fini {
  background-color: #CA234F;
}

.cont-left {
  margin-left: 50px;
}

.repmm {
  background-image: url("./img/bottom_decoration_img.png");
  background-repeat: repeat;
  width: 100%;
  height: 10px;
}

@media screen and (max-width: 990px) {
  .computer {
    display: none;
  }
}
@media screen and (min-width: 991px) {
  .smartphone {
    display: none;
    float: none;
  }
}
@media screen and (max-width: 990px) {
  .chef {
    display: none;
  }
}
@media screen and (min-width: 991px) {
  .chefsmart {
    display: none;
    float: none;
  }
}
@media screen and (max-width: 990px) {
  .deco-line {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  .titre-principale {
    display: none;
    float: none;
  }
}
@media screen and (min-width: 991px) {
  .titre-prin-smart {
    display: none;
    float: none;
  }
}

/*# sourceMappingURL=style.css.map */
